@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  height: 100vh;
}

@layer base {
  body {
    @apply text-[#1f2937] tracking-wide;
    @apply md:h-[100vh];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway];
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-sm shadow-gray-400 rounded-md text-black hover:scale-110 ease-in duration-300 
    hover:bg-[#915BC1] hover:text-[#ecf0f3];
  }
}
